* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  max-width: 100%;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*start header edit************************************************************/
#header {
  height:100%;
  width:30%;
  background-color:rgba(187, 209, 234, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

/*rgba(80, 125, 188, 1)*/
.ly-header{
  height:100%;
}

.ly-text-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*start header-title edit******************************************************/
.header-title-area {
  height:15%;
}

.header-title {
  height:100%;
}


.header-title a{
  display: block;
  color: rgba(80, 125, 188, 1);
  font-size: 45px;
  font-family:"impact";
}
/*rgba(187, 209, 234, 1)*/
/*end of header-title edit*****************************************************/

/*start header-menu edit*******************************************************/
.header-menu-area {
  height:75%;
}

.header-menu {
  height:100%;
}

.header-menu-item {
  height:13%;
  transition: all 0.5s;
/*  text-align: center; */
}

.header-menu-item a{
  padding:auto;
  line-height:1.5;
  height:100%;
/*  line-height: 100%;*/
  display: block;
  color:rgba(80, 125, 188, 1);
  font-size:30px;
  font-family: "Meiryo UI";
}

.header-menu-item:hover {
  background-image: -webkit-linear-gradient(left, transparent 0%,rgba(255, 255, 255, 0.3) 50%,transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%,rgba(255, 255, 255, 0.3) 50%,transparent 100%);
}

.header-menu-line {
  margin:0;
  position: relative;
  height: 1px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%,#283593 50%,transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%,#283593 50%,transparent 100%);
}
/*
E91E63
*/
/*
283593
.header-menu-trigger {
	position:absolute;
	padding: 1.5em;
	width: 40px;
	cursor: pointer;
}
.header-menu-trigger .header-menu_bar,
.header-menu-trigger .header-menu_bar:before,
.header-menu-trigger .header-menu_bar:after {
	display: block;
	width: 40px;
	height: 5px;
	content: '';
	-webkit-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
	border-radius: 5px;
	background: #FF5722;
}

.header-menu-trigger .header-menu_bar {
	position: relative;
	margin: 5px 0;
}
.header-menu-trigger .header-menu_bar:before,
.header-menu-trigger .header-menu_bar:after {
	position: absolute;
}
.header-menu-trigger .header-menu_bar:before {
	top: 11px;
}
.header-menu-trigger .header-menu_bar:after {
	bottom: 11px;
}
.header-menu-trigger:hover {

}

.header-menu-trigger:hover .header-menu_bar:after {
  -webkit-transform: rotate(-35deg) translateX(-20px);
          transform: rotate(-35deg) translateX(-20px);
}
.header-menu-trigger:hover .header-menu_bar {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
					background: transparent;
}
.header-menu-trigger:hover .header-menu_bar:before {
  -webkit-transform: rotate(35deg) translateX(-20px);
          transform: rotate(35deg) translateX(-20px);
}
*/

/*end of header-menu edit******************************************************/
/*start header-teamname edit***************************************************/

.header-team-name-area{
  height:10%;
}

.header-team-name{
  height:100%;
}

.header-team-name a{
  display: block;
}

/*end of header-teamname edit**************************************************/
/*end of header edit***********************************************************/

/*start main edit**************************************************************/

#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:3000px;
  background-color:rgba(218, 227, 229, 1);
/*  background-image: linear-gradient(-90deg, rgba(218, 227, 229, 1) 98%, rgba(18, 27, 29, 0.5));*/
}

.line {
  color:rgba(4, 8, 15, 1);
}
/*end main edit**************************************************************:*/
