* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

#main {
  margin-left: 35%;
  padding: 20px 0 20px 0;
  height:3000px;
  background-color:rgba(218, 227, 229, 1);
}

.main-title {
  height:40%;

}

.main-abstract {
  height:30%;
}

.main-youtube {
  height:30%;
}
