* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}



/*start main-title edit********************************************************/
.ly-main-member-title {
  font-family: "Helvetica";
}

.main-member-title-area {

}

.main-member-title {

}

.ly-main-member-title {
	position: relative;
	padding: .3em;
	text-align: center;
}
.ly-main-member-title:before {
	content: "";
	position: absolute;
	top: -20%;
	left: 50%;
	width: 150px;
	height: 130%;
	border-radius: 50%;
	border: 5px solid  #E91E63 ;
/*  border-image: linear-gradient(to right, #E91E63, transparent); */
	border-left-color: transparent;
	border-right-color: transparent;
	transform: translateX(-50%);
}
/*end of main-title edit*******************************************************/
/*start main-member edit*******************************************************/

.ly-main-member-tag{
  font-size: 30px;
  font-family: "Helvetica";
	position: relative;
	padding: .3em;
}
.ly-main-member-tag:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, #E91E63, transparent);
}


.ly-member-name-font {
  width: 50%;
  margin-left: 100px;
  font-weight: bold;
  font-size: 20px;
	position: relative;
	padding: .3em;
	border-bottom: 1px solid #7986CB;
}
.ly-member-name-font::after {
	position: absolute;
	bottom: -3px;
	left: 0;
	z-index: 2;
	content: '';
	width: 15%;
	height: 5px;
	background-color: #303F9F;
}

.ly-member-profile {
  margin-left: 150px;
}

/*.main-member-student-list {
  width: 50%;
}
*/
.main-member-student-list p,
.main-member-mentors-list p,
.main-member-tutors-list p{
  padding: 20px, auto;
}

/*end main edit****************************************************************/
