* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}

.ly-main {
  height: 100%;
}
/*
.ly-main-section-title {
    font-family: "Helvetica"
}
*/

.ly-main-section-title{
  font-family: "Helvetica";
	position: relative;
	display: inline-block;
	padding: 0 17%;
	text-align: center;
	color:#F4511E;
}
.ly-main-section-title:before, .ly-main-section-title:after {
	content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 15%;
	height: 1px;
	background-color: #F4511E;
}
.ly-main-section-title:before {
	left:0;
	background: linear-gradient(-45deg, transparent, #F4511E 10%, #F4511E 30%, transparent);
}
.ly-main-section-title:after {
	right: 0;
	background: linear-gradient(-45deg, transparent, #F4511E 70%, #F4511E 90%, transparent);
}

/*start main-title edit********************************************************/
.main-title-area {
  border-bottom: 3px dashed #000;
  height:40%;
}

/*end main-title edit**********************************************************/
/*start main-absract edit******************************************************/
.main-abstract-area {
  border-bottom: 3px dashed #000;
  height:30%;
}


/*end main-abstract edit*******************************************************/
/*start main-youtube edit******************************************************/

.main-youtube-area {
  border-bottom: 3px dashed #000;
  height:30%;
}

/*end main-youtube edit********************************************************/
