* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:4000px;
  background-color:rgba(218, 227, 229, 1);
}

.ly-main-section-title{
  width: 34%;
  font-size: 30px;
  font-family: "Helvetica";
	position: relative;
	padding: .3em;
}
.ly-main-section-title:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, #E91E63, transparent);
}

.main-result-simulation-area {
  margin:0 2%;
}

.ly-main-text {
  font-size:15px;
  line-height: 2em;
  margin-left: 12%;
  margin-right: 11%;
}

.ly-main-fig {
  text-align: center;
  width: 100%;
}

.ly-main-table {
  text-align: center;
  width: 100%;
}


.ly-fig-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Helvetica";
}

.ly-fig-text {
  font-size:12px;
}

/*start main-result-title edit*************************************************/
.main-result-title-area {
  padding-top: 40px;
  margin:0 auto;
  height:150px;
  width: 50%;
}

.ly-main-result-title {
  font-size: 40px;
  font-family:"Helvetica";
    margin:  0;             /* デフォルトCSS打ち消し */
    position:  relative;    /* 位置調整 */
    font-weight:bold;   /* 文字の太さ調整 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-bottom: solid 4px #E91E63;        /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;    /* 角丸指定 */
}
/*end of main-result-title edit************************************************/

/*start main-result-simulation*********************************************** */

.ly-main-result-subtitle {
  font-family: "Helvetica";
  width: 35%;
  margin-left: 12%;
  font-weight: bold;
  font-size: 20px;
  padding: .3em;
  border-bottom: 2px solid #7986CB;
}

.main-result-simulation-method-fig {
  width:65%;
  margin:0 auto;
}

.main-result-simulation-redi-first,
.main-result-simulation-redi-second,
.main-result-simulation-redi-third {
  width:100%;
}

.main-result-simulation-redi-fig-1,
.main-result-simulation-redi-fig-2,
.main-result-simulation-redi-fig-3 {
  width:45%;
  float: left;
  position:relative;
}

/*end main edit****************************************************************/
