* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}

.ly-main-section-title{
  width: 34%;
  font-size: 30px;
  font-family: "Helvetica";
	position: relative;
	padding: .3em;
}
.ly-main-section-title:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, #E91E63, transparent);
}

.main-project-background-area,
.main-project-problem-area,
.main-project-goal-area {
  margin:0 2%;
}

.ly-main-text {
  font-size:15px;
  line-height: 2em;
  margin-left: 12%;
  margin-right: 12%;
}
/*start main-project-title edit************************************************/
.main-project-title-area {
  margin:0 auto;
  width: 50%;
  height:150px;
}

.ly-main-project-title {
  font-size: 40px;
  font-family: "Helvetica";
	position: relative;
	padding: .6em;
	text-align: center;
}
.ly-main-project-title:before {
	content: "";
	position: absolute;
	top: -20%;
	left: 50%;
	width: 150px;
	height: 130%;
	border-radius: 50%;
	border: 5px solid  #E91E63 ;
/*  border-image: linear-gradient(to right, #E91E63, transparent); */
	border-left-color: transparent;
	border-right-color: transparent;
	transform: translateX(-50%);
}

/*end of main-project-title edit***********************************************/


/*end main edit****************************************************************/
