* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}

.ly-main-section-title {
  
}

/*start main-title edit********************************************************/
.main-title-area {
  border-bottom: 3px dashed #000;
  height:40%;
}

/*end main-title edit**********************************************************/
/*start main-absract edit******************************************************/
.main-abstract-area {
  border-bottom: 3px dashed #000;
  height:30%;
}

/*end main-abstract edit*******************************************************/
/*start main-youtube edit******************************************************/

.main-youtube-area {
  border-bottom: 3px dashed #000;
  height:30%;
}

/*end main-youtube edit********************************************************/
