* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}
/*start main-idea-title edit***************************************************/
.main-idea-title h1 {
     text-align: center;
}

.main-idea-title h1 span{
     position: relative;
     display: inline-block;
     padding-bottom:0.5em;
     border-bottom: 1px solid black;
}

.main-idea-title h1 span::before,
.main-idea-title h1 span::after {
     position: absolute;
     top: 100%;
     left:50%;
     transform:translateX(-50%);
     content: '';
     border: 10px solid transparent;
}

.main-idea-title h1 span::before {
     border-top: 10px solid black;
}

.main-idea-title h1 span::after {
     margin-top: -1px;
     border-top: 10px solid black;
}
/*end of main-odea-title*******************************************************/


/*end main edit****************************************************************/
