* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "sans-serif";
}

/*start main edit**************************************************************/
#main {
  margin-left: 30%;
  padding: 20px 0 20px 0;
  height:2000px;
  background-color:rgba(218, 227, 229, 1);
}

.ly-main-section-title{
  width: 34%;
  font-size: 30px;
  font-family: "Helvetica";
	position: relative;
	padding: .3em;
}
.ly-main-section-title:after {
	content: "";
	display: block;
	height: 4px;
	background: linear-gradient(to right, #E91E63, transparent);
}

.main-background-content-area,
.main-background-reference-area {
  margin:0 2%;
}

.ly-main-fig {
  text-align: center;
  width:100%;
}

.ly-fig-text {
  font-size:12px;
}

.ly-main-text {
  font-size:15px;
  line-height: 2em;
  margin-left: 12%;
  margin-right: 11%;
}

.ly-main-reference-title{
  margin-left: 12%;
  margin-right: 11%;
  font-size: 12px;
  font-family:"Helvetica";
  text-align: left;
}

.ly-main-reference-text{
  margin-left: 12%;
  margin-right: 11%;
  font-size: 12px;
}

/*start main-background-title edit*********************************************/
.main-background-title-area {
  padding-top: 40px;
  margin:0 auto;
  height:150px;
  width: 50%;
}

.ly-main-background-title {
  font-size: 40px;
  font-family:"Helvetica";
    margin:  0;             /* デフォルトCSS打ち消し */
    position:  relative;    /* 位置調整 */
    font-weight:bold;   /* 文字の太さ調整 */
    margin-bottom: 15px;    /* 周りの余白指定 */
    border-bottom: solid 4px #E91E63;        /* 線指定 */
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;    /* 角丸指定 */
}

/*end of main-background-title edit********************************************/

/*start main-background-content edit*******************************************/

.main-background-content-fig {
  width:60%;
  margin:0 auto;
}

/*end main-background-content edit*******************************************/

/*end main edit****************************************************************/
