* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  max-width: 100%;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*header edit******************************************************************/
#header {
  height:100%;
  width:35%;
  background-color:rgba(136, 114, 132, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.ly-header{
  line-height: 90px;
}

.header-title a{
  color: rgba(241, 234, 195, 1);
  display:block;
  font-size: 25px;
}

.header-memu {
/*  float: right; */
  margin-right: -25px;
}

.header-menu a {
  line-height: 90px;
  padding: 0 25px;
  color: rgba(241, 234, 195, 1);
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 20px;
}

ul.header-menu-list {
  list-style-type: none;
}

ul.header-menu-list {
	position: relative;
	padding: 0;
	list-style-type: none;
}
ul.header-menu-list li {
	padding: 0.5em 0.5em 0.6em 0.5em;
	margin-bottom: 5px;
	line-height: 1.5;
	vertical-align: middle;
	background: #f1c6c6;
	border-radius: 20px 0px 0px 20px;
	color: #ffffff;
}
ul.header-menu-list li::before {
	display:inline-block;
	vertical-align: middle;
	content:'';
	margin-right: 8px;
	width:1em;
	height: 1em;
	background: #fff;
	border-radius: 50%;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-teamname{

}
/*end of header edit***********************************************************/

/*メインの編集*/

#main {
  margin-left: 35%;
  padding: 20px 0 20px 0;
  height:3000px;
  background-color:rgba(135, 136, 142, 1);
}

.line {
  color:white;
}
