* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align:center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  max-width: 100%;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*start header edit************************************************************/
#header {
  height:100%;
  width:35%;
  background-color:rgba(80, 125, 188, 1);
  position :fixed;
  top: 0;
  z-index: 10;
}

.ly-header{
  text-align: center;
  line-height: 90px;
  height:100%;
  border-right: 5px, solid, rgba(80, 125, 188, 0.5);
}

/*start header-title edit******************************************************/
.header-title {
  height:20%;
  margin:auto;
}

.header-title a{
  height:20%;
  color: rgba(187, 209, 234, 1);
  font-size: 40px;
  font-family:"impact";

}
/*end of header-title edit*****************************************************/
/*start header-menu edit*******************************************************/
.header-memu {
  height:70%;
}

.header-menu-list {
	list-style-type:none;
}

.header-menu-list li {
  line-height:90px;
  display:block;
}
.header-menu-list a{
  display:block;
  line-height:90px;
  color: rgba(187, 209, 234, 1);
  font-size:20px;
  font-stretch: semi-expanded;
  font-family:"impact";
}

.header-menu-list a:hover {
  background-image: -webkit-linear-gradient(left, transparent 0%,rgba(255, 255, 255, 0.3) 50%,transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%,rgba(255, 255, 255, 0.3) 50%,transparent 100%);
}

.header-menu-line {
  margin:0;
  position: relative;
  height: 1px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left, transparent 0%,#283593 50%,transparent 100%);
  background-image: linear-gradient(90deg, transparent 0%,#283593 50%,transparent 100%);
}

/*end of header-menu edit******************************************************/
/*start header-teamname edit***************************************************/
.header-team-name{
  height:10%;
  margin: 0 auto;
}

.header-team-name a{
/*  color: rgba(171, 15, 80, 1); */
}
/*end of header-teamname edit**************************************************/
/*end of header edit***********************************************************/

/*start main edit**************************************************************/

#main {
  margin-left: 35%;
  padding: 20px 0 20px 0;
  height:3000px;
  background-color:rgba(218, 227, 229, 1);
}

.line {
  color:rgba(4, 8, 15, 1);
}
/*end main edit**************************************************************:*/
