* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  max-width: 2300px;
  width:100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*　ヘッダー編集　*/
#header {
  height:100%;
  width:35%;
  background-color:rgba(136, 114, 132, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.ly-header{
  line-height: 90px;
}

.header-title a{
  color: rgba(241, 234, 195, 1);
  display:block;
/*  float: left; */
  font-size: 25px;
}

.header-memu {
/*  float: right; */
  margin-right: -25px;
}

.header-menu a {
  line-height: 90px;
  padding: 0 25px;
  color: rgba(241, 234, 195, 1);
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 20px;
}

.header-menu-list {

}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/*****************/

/*メインの編集*/

#main {
  margin-left: 35%;
  padding: 20px 0 20px 0;
  height:3000px;
  background-color:rgba(135, 136, 142, 1);
}

.line {
  color:white;
}
